<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title> About Me</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
<header>
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>

    <nav class="menu">
        <div class="menu-branding">
            <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
            <li class="nav-item">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item current">
                <a href="about.html" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
                <a href="projects_list.html" class="nav-link">My Work</a>
            </li>
            <li class="nav-item">
                <a href="contact.html" class="nav-link">Contact Me</a>
            </li>
        </ul>
    </nav>
</header>

<main id="about">
    <h1 class="lg-heading">About <span class="text-secondary">Me</span></h1>
    <h2 class="sm-heading">Few things...</h2>
    <div class="about-info">
        <img src="../static/images/portrait.jpg" alt="Arif Hossain" class="bio-image">

        <div class="bio">
            <h3 class="text-secondary">BIO</h3>
            <p>
                Hi!<br> This is Arif Hossain. A software development enthusiast, and sports lover.
                <br><br>
                At present studying my Master's Degree in Information Technology: Computer Engineering with major Software Engineering at the Åbo Akademi University and building self motivated software applications.
                <br><br>
                Coding is my passion and love to learn new technologies, believe in team work and like to take new challenge. My excellent communication skill and team oriented attitude could be asset of a development team.
                <br><br>
                I am sincerely looking forward for new opportunities in the field of Software Engineering, and Software development as a:<span> Trainee, Full Stack Developer, Researcher, Software Developer, Web developer, Software Engineer, and Thesis worker </span>. I'm prepared and excited about the opportunities and challenges waiting for me
                in the future. I also believe that I have the required potential, motivation, and skills.
            </p>
        </div>
        <div class="job job-1">
            <h3 class="job-head">EDUCATION</h3>
            <h4>
                Master's Degree Programme in Information Technology: Computer Engineering, Master of Science
            </h4>
            <h5>
                Åbo Akademi University
            </h5>
            <span> 2017 - 2019</span>
            <span> Turku, Finland</span>
            <h5>Major Courses</h5>
            <ul>
                <li>Cloud Computing</li>
                <li>Development of Client-side Interactive Web Applications </li>
                <li>Development of Web Services</li>
                <li>Code optimization</li>
                <li>Project course</li>
                <li>Software Architectures </li>
                <li>Software Development and Software Security </li>
                <li>Parallel Programming </li>
                <li>Machine Learning</li>
            </ul>
            <hr class=hr-modify>
            <h4>Bachelor of Engineering, Information Technology</h4>
            <h5>Centria University of Applied Sciences</h5>
            <span> 2010-2015</span>
            <span> Kokkola, Finland</span>
            <h5>Major Courses</h5>
            <ul>
                <li>Object-Oriented Programming</li>
                <li>C Programming Language</li>
                <li>Relational Databases & SQL</li>
                <li>WWW-Programming</li>
                <li>IP-Networks</li>
                <li>Cisco Networking (CCNA1, CCNA2) </li>
                <li>Java Advanced Programming </li>
                <li>Algorithms and Data Structure </li>
                <li>Object-Oriented Modelling</li>
                <li>Software Engineering</li>
                <li>Software Project</li>
                <li>ASP.NET - programming</li>
            </ul>
        </div>
        <div class="job job-2">
            <h3 class="job-head">Work Experience</h3>
            <h4>1. Data Analyst</h4>
            <h5>Snellman Oy (Intern)</h5>
            <span>01.09.2015 – 30.10.2015</span>
            <h5>Tasks and Achievements</h5>
            <ul>
                <li>Data Mining </li>
                <li>Data analysis and visualization</li>
            </ul>
        </div>
        <div class="job job-3">
            <h3 class="job-head">Skills & Competence</h3>
            <p>Model Driven Architecture approach using UML.</p>
            <p>Agile Methodologies.</p>
            <p>Version Control: Git & Github.</p>
            <h4>Front-End:</h4>
            <p>HTML5, CSS3, JavaScript ECMA 5, ECMA 6, JSON, AJAX, jQuery, axios, React, Redux, Bootstrap framework, Responsive Design, RESTful API</p>
            <h4>Back-End:</h4>
            <p>NodeJs, Express, Django, ASP.NET, MongoDB, MySQL database</p>
            <h4>Programming Language:</h4>
            <p>C, C++, C#, Python, Java </p>
        </div>
    </div>

</main>
<footer id="main-footer">Copyright &copy; 2018</footer>

<script src="../static/js/main.js"></script>

</body>
</html>
