<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title> My Work</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait"></div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Home
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="about.html" class="nav-link">
                        About Me
                    </a>
                </li>
                 <li class="nav-item current">
                    <a href="projects_list.html" class="nav-link">
                        My Work
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="contact.html" class="nav-link">
                        Contact Me
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="work">
        <h1 class="lg-heading">
            My <span class="text-secondary">Work</span>
        </h1>
        <h2 class="sm-heading">
            Check out some of my projects...
        </h2>

        <div class="projects">

            
            <div class="item">
                <a href="https://arifthecoder.github.io/diceGame/MyDiceGame/index.html" target="_blank">
                    <img src="../static/project_pic/dice_game.JPG" alt="Project">
                </a>
                <a href="https://arifthecoder.github.io/diceGame/MyDiceGame/index.html" target="_blank" class="btn-light">
                    <i class="fas fa-eye"></i> Dice Game
                </a>
                <a href="https://github.com/ArifTheCoder/diceGame" target="_blank" class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
			
			<div class="item">
                <a href="">
                    <img src="../static/project_pic/auction.JPG" alt="Project">
                </a>
                <a href="" class="btn-light">
                    <i class="fas fa-eye"></i> Auction Site
                </a>
                <a href="https://github.com/ArifTheCoder/auction/tree/master/YAASproject" target="_blank" class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
			
			<div class="item">
                <a href="">
                    <img src="../static/project_pic/socialBlogDj.JPG" alt="Project">
                </a>
                <a href="" class="btn-light">
                    <i class="fas fa-eye"></i> Social Blog
                </a>
                <a href="https://github.com/ArifTheCoder/my_social_blog" target="_blank" class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
			
			<div class="item">
                <a href="">
                    <img src="../static/project_pic/weatherAppReact.JPG" alt="Project">
                </a>
                <a href="" class="btn-light">
                    <i class="fas fa-eye"></i> Weather App 
                </a>
                <a href="https://github.com/ArifTheCoder/my-weather-app-with-react" target="_blank" class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
			
			<div class="item">
                <a href="">
                    <img src="../static/project_pic/socialMediaReact.JPG" alt="Project">
                </a>
                <a href="" class="btn-light">
                    <i class="fas fa-eye"></i> Social Media
                </a>
                <a href="https://github.com/ArifTheCoder/my-social-media" target="_blank" class="btn-dark">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
            
        </div>

    </main>
    <footer id="main-footer">Copyright &copy; 2018</footer>

    <script src="../static/js/main.js"></script>

</body>
</html>
